

@model OpenSky.Models.Dtos.CategoriesDto

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-11">
                    <h1>Modificar categorías</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="container-fluid">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Modificar categorías</h3>
                            <div class="card-tools pull-right">
                                <button type="button" class="btn btn-danger" id="btnBack"><i class="fa fa-reply" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-success" id="btnUpdate"><i class="fa fa-save" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input id="txtUpdtateCategorieName" type="text" class="form-control" placeholder="Nombre ..." value="@Model.Name">
                                        <label id="lblId" style="display:none;">@Model.Id</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <script src="~/Content/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script src="~/Scripts/categories.js"></script>
</div>

